/*Importing bootstrap icons*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

/*Base styling*/
:root {
    --primary-color: #02092f;
    --secondary-color: #0d6efd;
    --tertiary-color: #f3f3f3;
}

a {
    text-decoration: none;
}
p, h1, h2, h3, h4, h5, h6, span {
    color: var(--primary-color);
}


button:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none;
}

.p-100 {
    padding: 100px 0;
}

.gradient {
    background-color: rgba(249, 249, 249);
    background: linear-gradient(90deg, rgba(249, 249, 249, 1) 0%, rgba(24, 284, 241, 1) 0%, rgba(109, 0, 250, 1) 100%);
}

/*Navbar styling*/

.main-logo{
    height: 40px;
    width: 80px;
}
.nav-item {
    margin-left: 1rem;
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}

.navbar-nav .nav-item .nav-link i{
    color: var(--secondary-color);
}

.navbar-nav .nav-item .nav-link:hover i{
    color: var(--tertiary-color);
    
}


/*Header Section*/
.banner{
    height: 25rem;
    width: 30rem;
    animation: move 5s linear infinite;
    position: relative;
    left: 0;
    bottom: 0;
}
@keyframes move{
    0%, 100%{
        bottom: 0;
    }
    50%{
        bottom: 20px;
    }
}



/*About Section*/
.about-icons i{
    padding-right: 0.6rem;
    font-size: 24px;
}


/*Services section*/
.card, p {
    color: var(--primary-color);
}

.card i{
    font-size: 3rem;
    color: var(--secondary-color);

}

.card:hover{
    background-color: rgba(249, 249, 249);
    background: linear-gradient(90deg, rgba(249, 249, 249, 1) 0%, rgba(24, 284, 241, 1) 0%, rgba(109, 0, 250, 1) 100%);
    border: none;
}

.card:hover i, .card:hover p{
    color: var(--tertiary-color);
}



/*Contact Section*/
#contact form{
    padding: 3rem;
}


/*Fotter*/
footer p{
    text-align: center;
}

